[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = false
name = "home"


[dev-packages]
pipenv-setup = "*"

[packages]
numpy = "*"
gym = "*"
box2d-py = "*"
libtmux = "*"
pytest = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
func-timeout = "*"

#pip installation of robo-gym
#robo-gym = "*"
#local installation of robo-gym
robo-gym = {path = ".",editable = true}

[requires]
python_version = "3.5"
